

body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li {
	display: inline-block;
	text-align: center;

}
.menu li a:hover{
	background: #ef8354;
}

img {

	width: 15%;
	height: 15%;

}
.peli1{
	background: none;
	width: 1500px;
	height: 1800px;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 300px;
	margin-right: 0px;
}
.peli2{
	background: none;
	width: 1500px;
	height: 1800px;
	padding: 0;
	margin-top: -1800px;
	margin-bottom: 0px;
	margin-left: 600px;
	margin-right: 0px;

}
.peli3{
	background: none;
	width: 1500px;
	height: 1800px;
    padding: 0;
	margin-top: -1800px;
	margin-bottom: 0px;
	margin-left: 900px;
	margin-right: 0px;

}

.peli3{
	background: none;
	width: 1500px;
	height: 1800px;
    padding: 0;
	margin-top: -1800px;
	margin-bottom: 0px;
	margin-left: 900px;
	margin-right: 0px;
}
.peli4{
	background: none;
	width: 1500px;
	height: 1800px;
    padding: 0;
	margin-top: -1450px;
	margin-bottom: 0px;
	margin-left: 300px;
	margin-right: 0px;
}
.peli5{
	background: none;
	width: 1500px;
	height: 1800px;
    padding: 0;
	margin-top: -1800px;
	margin-bottom: 0px;
	margin-left: 600px;
	margin-right: 0px;

}

.peli6{
	background: none;
	width: 1500px;
	height: 1800px;
    padding: 0;
	margin-top: -1800px;
	margin-bottom: 0px;
	margin-left: 900px;
	margin-right: 0px;
}
.enlace1
{
	background:none;
	width: 1000px;
	height: 1200px;
	margin-top: 150px;
	margin-left: -600px;
}
.enlace2
{
	background: none;
	width: 1000px;
	height: 1200px;
	margin-top: -1198px;
	margin-left: -280px;
}
.barra1
{
	padding: 0;
	background: #092327;
	width: 90%;
	height: 2%;
	max-width: 1000px;
	margin-top: -1250px;
	margin-left: -600px;
	text-align: center;
	color: white;

}
.barra1  

h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h1 span{
	border: 4px dashed #20bcd5;
	padding: 10px;
}
table{
	width: 80%;
	font-size: 11pt;
	}

table,th,td {
border:	2px solid #cecece;
border-collapse: collapse;;
text-align: center;
table-layout: fixed;
}
.boton1{
	padding: 3px;
	padding-left: 10px;
	font-size: 25px;
	color: #e43b3b;
	background-color: #dcf3f2;
	border-radius:5px ;	
}
.escudo
{
	width: 600px;
	height: 600px;
	margin-top: 350px;
	margin-left: -300px;
	
}
.logo{
	width: 600px;
	height: 600px;
	margin-top: -600px ;
	margin-left:-150px;
}

p{
	text-align: center;
	margin-top: -500px;
	margin-left: -200px;
	color: #092327;
}
.menu2{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu2 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu2 li{
	display: inline-block;
	text-align: center;
}
.nor1{
	width: 600px;
	height: 600px;
	margin-top: 60px ;
	margin-left:450px;
}

.nor2{
	width: 600px;
	height: 600px;
	margin-top: -600px ;
	margin-left:550px;

}
*{
	margin: 0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-instagram {background: #00abf0;}


	

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}











